<!DOCTYPE html>
<html>
  <head>
    <title>ViksTnetica17</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="navbar-text">Logged in as <strong><%= current_user.email %></strong>.</li>
            <li><%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, class: 'navbar-link'  %></li>
            <li><%= link_to "Login", new_user_session_path, class: 'navbar-link'  %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
  <div class="main">
    <div class="row">
      <div class="span9">
        <div id="notice">
          <p class="alert" role="alert"><%= notice %></p>
          <p class="alert" role="alert"><%= alert %></p>
        </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
